# Redactors
/.idea/


# Installed DLE
/engine/cache/*.tmp
/engine/cache/system/*.php
/engine/data/*.txt
/engine/data/*.php

# DLE 11.1 sources
/.htaccess
/admin.php
/backup/.htaccess
/backup/index.html
/cron.php
/engine/ajax/addcomments.php
/engine/ajax/adminfunction.php
/engine/ajax/allvotes.php
/engine/ajax/antivirus.php
/engine/ajax/bbcode.php
/engine/ajax/calendar.php
/engine/ajax/clean.php
/engine/ajax/comments.php
/engine/ajax/complaint.php
/engine/ajax/deletecomments.php
/engine/ajax/editcomments.php
/engine/ajax/editnews.php
/engine/ajax/favorites.php
/engine/ajax/feedback.php
/engine/ajax/find_relates.php
/engine/ajax/find_tags.php
/engine/ajax/keywords.php
/engine/ajax/message.php
/engine/ajax/newsletter.php
/engine/ajax/pm.php
/engine/ajax/poll.php
/engine/ajax/profile.php
/engine/ajax/quote.php
/engine/ajax/rating.php
/engine/ajax/ratingcomments.php
/engine/ajax/rebuild.php
/engine/ajax/registration.php
/engine/ajax/replycomments.php
/engine/ajax/rss.php
/engine/ajax/search.php
/engine/ajax/sitemap.php
/engine/ajax/templates.php
/engine/ajax/typograf.php
/engine/ajax/updates.php
/engine/ajax/upload.php
/engine/ajax/vote.php
/engine/api/
/engine/cache/*
/engine/cache/system/*
/engine/classes/.htaccess
/engine/classes/antivirus.class.php
/engine/classes/calendar/calendar.css
/engine/classes/calendar/calendar.js
/engine/classes/comments.class.php
/engine/classes/download.class.php
/engine/classes/flashplayer/*
/engine/classes/google.class.php
/engine/classes/highlight/
/engine/classes/highslide/
/engine/classes/html5player/*
/engine/classes/js/*
/engine/classes/mail.class.php
/engine/classes/mail/class.phpmailer.php
/engine/classes/masha/*
/engine/classes/min/*
/engine/classes/mobiledetect.class.php
/engine/classes/mysql.php
/engine/classes/parse.class.php
/engine/classes/recaptcha.php
/engine/classes/rss.class.php
/engine/classes/social.class.php
/engine/classes/stopspam.class.php
/engine/classes/templates.class.php
/engine/classes/thumb.class.php
/engine/classes/typograf.class.php
/engine/classes/uploads/*
/engine/data/.htaccess
/engine/data/emoticons/*
/engine/download.php
/engine/editor/*
/engine/engine.php
/engine/go.php
/engine/inc/.htaccess
/engine/inc/addnews.php
/engine/inc/banners.php
/engine/inc/blockip.php
/engine/inc/categories.php
/engine/inc/check.php
/engine/inc/clean.php
/engine/inc/cmoderation.php
/engine/inc/comments.php
/engine/inc/complaint.php
/engine/inc/dboption.php
/engine/inc/dumper.php
/engine/inc/editnews.php
/engine/inc/editusers.php
/engine/inc/editvote.php
/engine/inc/email.php
/engine/inc/files.php
/engine/inc/googlemap.php
/engine/inc/help.php
/engine/inc/include/.htaccess
/engine/inc/include/functions.inc.php
/engine/inc/include/init.php
/engine/inc/include/inserttag.php
/engine/inc/iptools.php
/engine/inc/links.php
/engine/inc/logs.php
/engine/inc/main.php
/engine/inc/mass_static_actions.php
/engine/inc/mass_user_actions.php
/engine/inc/massactions.php
/engine/inc/newsletter.php
/engine/inc/options.php
/engine/inc/preview.php
/engine/inc/question.php
/engine/inc/rebuild.php
/engine/inc/rss.php
/engine/inc/rssinform.php
/engine/inc/search.php
/engine/inc/social.php
/engine/inc/static.php
/engine/inc/tagscloud.php
/engine/inc/templates.php
/engine/inc/userfields.php
/engine/inc/usergroup.php
/engine/inc/videoconfig.php
/engine/inc/wordfilter.php
/engine/inc/xfields.php
/engine/init.php
/engine/modules/.htaccess
/engine/modules/addcomments.php
/engine/modules/addnews.php
/engine/modules/antibot/*
/engine/modules/banned.php
/engine/modules/banners.php
/engine/modules/bbcode.php
/engine/modules/calendar.php
/engine/modules/changemail.php
/engine/modules/comments.php
/engine/modules/cron.php
/engine/modules/deletenews.php
/engine/modules/favorites.php
/engine/modules/feedback.php
/engine/modules/functions.php
/engine/modules/lastcomments.php
/engine/modules/links.php
/engine/modules/lostpassword.php
/engine/modules/main.php
/engine/modules/offline.php
/engine/modules/pm.php
/engine/modules/pm_alert.php
/engine/modules/poll.php
/engine/modules/profile.php
/engine/modules/register.php
/engine/modules/rssinform.php
/engine/modules/search.php
/engine/modules/show.custom.php
/engine/modules/show.full.php
/engine/modules/show.short.php
/engine/modules/sitelogin.php
/engine/modules/social.php
/engine/modules/static.php
/engine/modules/stats.php
/engine/modules/tagscloud.php
/engine/modules/topnews.php
/engine/modules/vote.php
/engine/opensearch.php
/engine/preview.php
/engine/print.php
/engine/rss.php
/engine/skins/.htaccess
/engine/skins/codemirror/css/default.css
/engine/skins/codemirror/js/LICENSE
/engine/skins/codemirror/js/code.js
/engine/skins/default.skin.php
/engine/skins/fonts/*
/engine/skins/images/*
/engine/skins/javascripts/application.js
/engine/skins/stylesheets/application.css
/engine/skins/stylesheets/frame.css
/index.php
/install.php
/language/.htaccess
/language/Russian/admincheck.lng
/language/Russian/adminlogs.lng
/language/Russian/adminpanel.lng
/language/Russian/help.lng
/language/Russian/website.lng
/robots.txt
/templates/.htaccess
/templates/Default/*
/templates/Gemini/*
/templates/Green/*
/templates/Pisces/*
/templates/Red/*
/templates/banned.tpl
/templates/opensearch.tpl
/templates/rss.tpl
/templates/smartphone/*
/upgrade/*
/uploads/*

# Place your custom files here
!/templates/Default/uniform