.btn {
	display: inline-block;
	color: #fff;
	margin-bottom: 0;
	font-weight: 400;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	background: #4a9fc5;
	border: 0;
	text-decoration: none;
	white-space: nowrap;
	padding: 10px 15px 8px;
	font-size: 18px;
	line-height: 20px;
	border-radius: 3px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-transition: all ease .3s;
	transition: all ease .3s;
	box-shadow: 0 2px 0 #3584a7;
}

.btn:focus {
	outline: #333 dotted thin;
	outline-offset: -2px;
}

.btn.active,
.btn:focus,
.btn:hover {
	color: #fff;
	background: #50bd98;
	text-decoration: none;
	box-shadow: 0 2px 0 #3c9e7d;
}

.btn.active,
.btn:active {
	outline: 0;
	box-shadow: 0 2px 0 #3c9e7d;
}

.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
	cursor: not-allowed;
	pointer-events: none;
	opacity: .65;
	box-shadow: 0 2px 0 #4a9fc5;
}

.btn-red {
	background: #c70000;
	box-shadow: 0 2px 0 #940000;
}

.btn-red:focus,
.btn-red:hover {
	background: #940000;
	box-shadow: 0 2px 0 #610000;
}

.btn-red.active,
.btn-red:active {
	background: #940000;
	box-shadow: 0 2px 0 #940000;
}

.btn-link {
	color: #4a9fc5;
	font-weight: 400;
	cursor: pointer;
	padding: 5px 8px 3px;
	font-size: 16px;
	line-height: 20px;
	border-radius: 3px;
}

.btn-link,
.btn-link:active,
.btn-link[disabled],
fieldset[disabled] .btn-link {
	background-color: transparent;
	box-shadow: none;
}

.btn-link:focus,
.btn-link:hover {
	background-color: transparent;
	color: #50bd98;
	text-decoration: underline;
	box-shadow: none;
}

.btn-link[disabled]:focus,
.btn-link[disabled]:hover,
fieldset[disabled] .btn-link:focus,
fieldset[disabled] .btn-link:hover {
	color: #f3f6f7;
	text-decoration: none;
	background-color: transparent;
	box-shadow: none;
}

.btn-big {
	padding: 15px 25px;
	font-size: 20px;
	line-height: 20px;
	border-radius: 3px;
	margin-bottom: 2px;
}

.btn-normal {
	padding: 8px 12px;
	font-size: 14px;
	line-height: 14px;
	border-radius: 3px;
}

.btn-small {
	padding: 5px 8px 3px;
	font-size: 12px;
	line-height: 20px;
	border-radius: 3px;
	margin-bottom: 2px;
}

.btn-mini {
	padding: 2px 9px 1px;
	font-size: 12px;
	line-height: 20px;
	border-radius: 3px;
	margin-bottom: 2px;
}

.btn-border {
	background: 0 0;
	color: #4a9fc5;
	border: 1px solid #4a9fc5;
	box-shadow: none;
}

.btn-border:focus,
.btn-border:hover {
	color: #fff;
	background: rgba(74, 159, 197, .8);
	text-decoration: none;
	box-shadow: none;
}

.btn-border.active,
.btn-border:active {
	color: #fff;
	background: #4a9fc5;
	box-shadow: none;
}

.btn-border.btn-red {
	color: #c70000;
	border: 1px solid #c70000;
}

.btn-border.btn-red:focus,
.btn-border.btn-red:hover {
	color: #fff;
	background: rgba(199, 0, 0, .8);
	text-decoration: none;
	box-shadow: none;
}

.btn-border.btn-red.active,
.btn-border.btn-red:active {
	color: #fff;
	background: #c70000;
	box-shadow: none;
}

.btn + .btn {
	margin-left: 15px;
}

.btn-super {
	padding: 15px;
	text-transform: uppercase;
	font-size: 22px;
}

.btn-square {
	border-radius: 0;
}

.btn-block {
	display: block;
	width: 100%;
	padding-left: 0;
	padding-right: 0;
	box-sizing: border-box;
}

.btn-block + .btn-block {
	margin-top: 5px;
}

.btn-clipboard .icon-like {
	display: none;
}

.btn-clipboard.success .icon-like {
	display: inline-block;
}

.btn-clipboard.success .icon-copy {
	display: none;
}

input[type=submit].btn-block,
input[type=reset].btn-block,
input[type=button].btn-block {
	width: 100%;
}

.input {
	display: inline-block;
	height: 30px;
	padding: 10px;
	position: relative;
	margin-bottom: 10px;
	font-size: 16px;
	color: #545d70;
	vertical-align: middle;
	border: 1px solid #868fa4;
	outline: 0;
	background-color: #fff;
	-webkit-appearance: none;
	box-shadow: 0 0 0 2px transparent;
	-webkit-transition: all ease .3s;
	transition: all ease .3s;
	box-sizing: border-box;
}

.input:focus {
	outline: 0;
	border-color: #4a9fc5;
	box-shadow: 0 0 0 2px rgba(74, 159, 197, .5);
}

textarea.input {
	height: auto;
	border: 1px solid #868fa4;
	background: #fff;
}

textarea.input:focus {
	background: #fff;
	border-color: #4a9fc5;
}

input[type=number].input {
	padding: 0 10px;
}

.input-big {
	height: 40px;
}

.input-rounded {
	border-radius: 5px;
}

.input-block {
	width: 100%;
}

.checkbox {
	display: none;
}

.checkbox + label {
	cursor: pointer;
	margin-top: 4px;
	display: inline-block;
}

.checkbox + label span {
	display: inline-block;
	width: 18px;
	height: 18px;
	margin: -2px 4px 0 0;
	vertical-align: middle;
	background: #fff;
	cursor: pointer;
	border: 1px solid #868fa4;
	position: relative;
}

.checkbox + label:focus span,
.checkbox + label:hover span {
	border-color: #4a9fc5;
	box-shadow: 0 0 0 2px rgba(74, 159, 197, .5);
}

.checkbox:checked + label span {
	border-color: #4a9fc5;
}

.checkbox:checked + label span:before {
	content: " ";
	position: absolute;
	border: solid #000;
	border-width: 0 0 2px 2px;
	height: 5px;
	width: 11px;
	left: 3px;
	top: 4px;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.radio {
	display: none;
}

.radio + label {
	cursor: pointer;
	margin-top: 4px;
	display: inline-block;
}

.radio + label span {
	display: inline-block;
	width: 18px;
	height: 18px;
	margin: -2px 4px 0 0;
	vertical-align: middle;
	background: #fff;
	cursor: pointer;
	border: 1px solid #868fa4;
	position: relative;
	border-radius: 10px;
}

.radio + label:focus span,
.radio + label:hover span {
	border-color: #4a9fc5;
	box-shadow: 0 0 0 2px rgba(74, 159, 197, .5);
}

.radio:checked + label span {
	border-color: #4a9fc5;
}

.radio:checked + label span:before {
	content: " ";
	position: absolute;
	height: 8px;
	width: 8px;
	background: #000;
	left: 5px;
	top: 5px;
	border-radius: 4px;
}

textarea.code {
	width: 100%;
	margin: 0;
	min-height: 42px;
	vertical-align: top;
	-webkit-transition: height .2s;
	transition: height .2s;
	outline: 0;
	display: block;
	color: #c70000;
	padding: 5px 10px;
	font: 400 14px/20px Consolas, "Courier New", monospace;
	background-color: #f3f6f7;
	white-space: pre-wrap;
	word-break: break-all;
	word-wrap: break-word;
	text-shadow: none;
	border: none;
	border-left: solid 3px #c70000;
	box-sizing: border-box;
}

textarea.code:focus {
	background: #d4dfe3;
	border-color: #4a9fc5;
}

table {
	max-width: 100%;
	background-color: transparent;
	border-collapse: collapse;
	border-spacing: 0;
}

html {
	height: 100%;
}

button,
html,
input,
select,
textarea {
	color: #545d70;
}

body {
	font-size: 16px;
	line-height: 1.4;
	font-family: Arial, Helvetica, sans-serif;
	color: #545d70;
	background: #fff;
	min-height: 100%;
}

::-moz-selection {
	background: #4e9cb5;
	color: #fff;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .4);
}

::selection {
	background: #4e9cb5;
	color: #fff;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .4);
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #d4dfe3;
	margin: 1em 0;
	padding: 0;
}

hr.blue {
	border-color: #3c93ba;
}

img {
	vertical-align: middle;
	max-width: 100%;
}

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

textarea {
	resize: vertical;
}

.pseudolink,
a {
	color: #4a9fc5;
	text-decoration: underline;
}

.pseudolink.active,
.pseudolink:hover,
a.active,
a:hover {
	color: #50bd98;
	text-decoration: none;
}

.pseudolink,
[data-target-blank],
[data-target-self] {
	cursor: pointer;
}

.h1,
h1 {
	font: 400 38px Helvetica, Arial, sans-serif;
	font-weight: 300;
	margin-top: 0;
	color: #4a9fc5;
}

.h2,
h2 {
	font: 400 29px Helvetica, Arial, sans-serif;
	font-weight: 300;
	color: #4a9fc5;
	margin: 1em 0;
}

.h2 a,
h2 a {
	text-decoration: none;
	color: #000;
	-webkit-transition: all ease .3s;
	transition: all ease .3s;
}

.h2 a:hover,
h2 a:hover {
	color: #c70000;
}

.top_nav-container {
	background-color: #4a9fc5;
	background-position: 50% 60% !important;
	color: #fff;
	padding: 0;
	margin-bottom: 20px;
}

.main .top_nav-container {
	margin-bottom: 0;
}

.container {
	padding: 20px 0;
}

.container.container-dark {
	background: #868fa4;
	color: #fff;
}

.container.top_nav-container {
	padding: 0;
}

.container.container-blue {
	background: #4a9fc5;
	color: #fff;
}

.container.container-blue.footer-container {
	background-position: 50% 100%;
}

@media (max-width: 768px) {
	.container {
		padding: 20px 10px;
	}
}

.logo {
	display: inline-block;
	padding: 10px;
	color: #fff;
	font-size: 28px;
}

.logo .icon {
	vertical-align: text-top;
	color: #3584a7;
}

.licence-text {
	max-height: 55vh;
	overflow: auto;
	border: solid 1px #d4dfe3;
	padding: 15px;
}

.step-element {
	margin-bottom: 15px;
}

.step-element:first-child {
	padding-left: 60px;
}

.step-element:last-child:not(.step-code) {
	margin-bottom: 0;
}

.steps > ol {
	list-style: none;
	margin: 0;
	padding: 0;
}

.steps > ol > li {
	position: relative;
	border: solid 1px rgba(241, 196, 15, .2);
	padding: 0 15px;
	counter-increment: stepsCounter;
}

.steps > ol > li:before {
	position: absolute;
	top: -1px;
	left: -1px;
	display: block;
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	background: #4a9fc5;
	color: #fff;
	font-size: 26px;
	content: counter(stepsCounter, decimal);
}

.step-header {
	font-size: 22px;
	line-height: 49px;
	color: #4a9fc5;
	margin: 0px -15px 0 -15px;
	background: rgba(241, 196, 15, .2);
	padding: 0 15px;
	box-sizing: border-box;
}

.step-text {
	margin: 0 -15px 15px -15px;
	padding: 15px;
	background: rgba(241, 196, 15, .05);
}

.margin-list > li {
	margin-bottom: 10px;
}

code {
	padding: 2px 4px;
	color: #c70000;
	background-color: #f3f6f7;
	border: 1px solid #d4dfe3;
	font-size: 12px;
	border-radius: 5px;
}

.footer-container a {
	color: #fff;
}

ol.unstyled,
ul.unstyled {
	margin: 0;
	padding: 0;
	list-style: none;
}

.ta-center,
.table td.ta-center,
.table th.ta-center {
	text-align: center;
}

img.ta-center {
	display: block;
	margin: 0 auto;
}

.ta-left,
.table td.ta-left,
.table th.ta-left {
	text-align: left;
}

.ta-right,
.table td.ta-right,
.table th.ta-right {
	text-align: right;
}

.td-n {
	text-decoration: none;
}

.hide {
	display: none;
}

.d-b,
.show {
	display: block;
}

.d-ib,
.inline-block {
	display: inline-block;
}

.p-r {
	position: relative;
}

.ir {
	background-color: transparent;
	border: 0;
	overflow: hidden;
}

.ir:before {
	content: "";
	display: block;
	width: 0;
	height: 100%;
}

.hidden {
	display: none !important;
	visibility: hidden;
}

.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
}

.invisible {
	visibility: hidden;
}

.pl20 {
	padding-left: 20px;
}

.m0 {
	margin: 0;
}

.mt0 {
	margin-top: 0;
}

.mt30 {
	margin-top: 30px;
}

.mb0 {
	margin-bottom: 0;
}

.p0 {
	padding: 0;
}

.pt0 {
	padding-top: 0;
}

.pr0 {
	padding-right: 0;
}

.pb0 {
	padding-bottom: 0;
}

.pl0 {
	padding-left: 0;
}

.text-muted {
	color: #a3aaba;
}

.text-text {
	color: #545d70;
}

.text-red {
	color: #c70000;
}

.text-green {
	color: #50bd98;
}

.text-orange {
	color: #e67e22;
}

.alert {
	border: 1px solid #f1c40f;
	background: rgba(241, 196, 15, .1);
	color: #796307;
	padding: 20px;
}

.alert-info {
	color: #3d7e93;
	background: rgba(74, 159, 197, .1);
	border-color: #4a9fc5;
}

.clearfix:after,
.clearfix:before {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

.clr {
	clear: both;
	height: 0;
	overflow: hidden;
}

.fleft {
	float: left;
}

.fright {
	float: right;
}

.ov-h {
	overflow: hidden;
}

.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	stroke-width: 0;
	stroke: currentColor;
	fill: currentColor;
}
